.bread-crumbs {
  padding-top: 30px;
  padding-bottom: 18px;
}

.bread-crumbs__list {
  display: flex;
}

.bread-crumbs__list-item {
  margin-right: 5px;

  &::after {
    content: "-";
  }

  &:last-child {
    &::after {
      content: "";
    }
  }
}

.bread-crumbs__list-link {
  color: @text-color;
}

.bread-crumbs__list-item--active {
  color: @black;
}

.bread-crumbs--cargo-pa,
.bread-crumbs--subscription-inner-pa,
.bread-crumbs--replenishment-registration-pa {
  width: 100%;
  overflow-x: scroll;

  .bread-crumbs__list {
    width: 600px;
  }

  @media screen and (min-width: @medium) {
    overflow-x: auto;
  }
}
