.cargo-owners {

}

.cargo-owners__start-screen {
  background-image: url("../img/cargo-owners-mobile.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 125px;
}

.cargo-owners__list-wrapper {
  background-color: @gray;
}

.cargo-owners__list {
  padding-top: 80px;
  padding-bottom: 90px;
}

.cargo-owners__list-item {
  border: 1px solid @border-color;
  border-radius: 4px;
  padding: 28px 15px;
  background-color: @white;
}

.cargo-owners__title {
  color: @white;
}

.cargo-owners__company {
  display: flex;
  border-bottom: 1px solid @border-color;
}

.cargo-owners__company-icon {
  margin-right: 20px;
}

.cargo-owners__company-name {
  font-size: 17px;
  font-weight: bold;
  font-family: @bellota;
  line-height: 20px;
  color: @text-color;
}

.cargo-owners__company-town {
  color: #b2b0ab;
}

.cargo-owners__dscr-txt {
  padding-top: 10px;
  color: @black;
}
