form {

}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__legend {

}

.form__title {
  font-size: 20px;
  line-height: 29px;
  font-weight: bold;
  font-family: @bellota;
  color: @black;
}

.form__text-input {
  background-color: @light-gray;
  border: none;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;

  &::placeholder {
    color: #cac8c3;
  }
}

.form__select {

}

.form__option {

}
