.header__wrapper {
  min-height: 50px;
  padding-top: 12px;
  position: relative;
  background-color: @white;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: @extra-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    min-height: 60px;
    position: static;
  }
}

.header__logo {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 1px;
    background-color: @border-color;
    position: absolute;
    bottom: -12px;
    left: -15px;

    @media screen and (min-width: @extra-large) {
      display: none;
    }
  }

  @media screen and (min-width: @extra-large) {
    width: 147px;
    display: block;
  }
}

.header__logo-img {
  height: 28px;
  object-fit: cover;

  @media screen and (min-width: @extra-large) {
    height: 36px;
    width: 100%;
    object-fit: cover;
  }
}

.header__navigation {
  display: none;
  order: 2;
  background-color: @gray;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: @medium) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  @media screen and (min-width: @extra-large) {
    display: block;
    width: 100%;
    max-width: 600px;
    background-color: @white;
    order: 1;
    margin-left: 0;
  }
}

.header__navigation-list {
  @media screen and (min-width: @extra-large) {
    display: flex;
    justify-content: space-between;
  }
}

.header__navigation-list-item {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;

  .header__navigation-link {
    color: @black;

    @media screen and (min-width: @extra-large) {
      font-weight: 400;
    }
  }

  @media screen and (min-width: @extra-large) {
    font-size: 12px;
    line-height: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }
}

.header__navigation-list-item--active {
  .header__navigation-link {
    color: @brown;
  }

  @media screen and (min-width: @extra-large) {
    border-bottom: 2px solid @brown;
  }
}

.header__navigation-list-item--services {
  position: relative;

  @media screen and (min-width: @extra-large) {
    position: static;
  }
}

.header__sub-list {
  display: none;
  padding-left: 20px;

  @media screen and (min-width: @medium) {
    background-color: #9a9995;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 10px;
    padding-left: 40px;
  }

  @media screen and (min-width: @extra-large) {
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 268px;
    //min-height: 420px;
  }
}

.header__sub-list-item {
  padding-top: 6px;
  padding-bottom: 7px;
}

.header__sub-list-link {
  font-size: 15px;
  line-height: 24px;
  color: @black;

  @media screen and (min-width: @medium) {
    color: @white;
  }
}

.header__sub-list-btn {
  position: absolute;
  right: 0;
  top: 10px;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  outline: none;

  &::after {
    content: "Открыть";
  }

  &::before {
    content: "";
    display: block;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url("../img/dropdown-arrow.png");
    background-size: 11px 6px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: @extra-large) {
    display: none;
  }
}

.header__sub-list-btn--active {
  &::after {
    content: "Назад";
  }

  &::before {
    content: "";
    display: block;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url("../img/dropdown-arrow.png");
    background-size: 11px 6px;
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }
}

.header__logged-block {
  display: none;
}
// модификатор для залогиненого пользователя
.header__user {
  background-color: @gray;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 12px;

  @media screen and (min-width: @extra-large) {
    order: 2;
    width: 215px;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
  }
}

.header__user-list {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;

  @media screen and (min-width: @medium) {
    width: 280px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -18px;
    right: 80px;
  }

  @media screen and (min-width: @extra-large) {
    position: static;
    width: 100%;
    padding: 0;
  }

  .header__user-list-item {
    width: 100%;
    max-width: 100%;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }

  .header__user-link {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
  }
}

.header__logged-list {
  padding-bottom: 0;
}

.header__logged-list-link {
  color: @text-color;
}

.header__user--logged {
  .header__logged-block {
    display: block;

    @media screen and (min-width: @extra-large) {
      position: relative;
    }
    // &::after {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: @border-color;
    //   margin-top: -1px;
    // }
  }

  .header__user-list {
    display: none !important;
  }

  .header__logged-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid @brown;
    top: 9px;
    right: 55px;
    animation: scale 0.3s;

    @media screen and (min-width: @extra-large) {
      right: 0;
      left: 5px;
    }
  }

  .header__logged-icon-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header__logged-name {
    display: none;
    font-size: 13px;
    line-height: 20px;
    color: @text-color;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
    margin: 0;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: @border-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @media screen and (min-width: @extra-large) {
      display: block;
      margin-left: 60px;

      &::after {
        display: none;
      }
    }
  }

  .header__logged-list {
    display: none;

    @media screen and (min-width: @extra-large) {
      position: absolute;
      background-color: #9a9995;
      z-index: 10;
    }
  }

  .header__logged-list-item {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: @extra-large) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .header__logged-list-link {
    color: @text-color;

    @media screen and (min-width: @extra-large) {
      color: @white;
      font-size: 12px;
      border-bottom: 1px solid @white;
      padding-bottom: 12px;
      padding-right: 20px;
      width: 100%;
      display: inline-block;
    }
  }
}

.header__mobile-btn {
  height: 29px;
  width: 30px;
  position: absolute;
  top: 12px;
  right: 15px;
  background-color: transparent;
  border: none;
  outline: none;

  @media screen and (min-width: @extra-large) {
    display: none;
  }
}

.header__mobile-btn--gamburger {
  animation: scale 0.3s;

  height: 29px;
  width: 30px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: @brown;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: @brown;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
  }

  .header__mobile-btn-decor {
    display: block;
    width: 80%;
    height: 3px;
    background-color: @brown;
    position: absolute;
    top: 13px;
    right: 0;
    border-radius: 1px;
  }
}

.header__mobile-btn--close {
  animation: scale2 0.4s;

  &::after {
    content: "";
    display: block;
    width: 31px;
    height: 3px;
    background-color: @brown;
    position: absolute;
    top: 13px;
    left: 0;
    transform: rotate(45deg);
    border-radius: 1px;
  }

  &::before {
    content: "";
    display: block;
    width: 31px;
    height: 3px;
    background-color: @brown;
    position: absolute;
    bottom: 13px;
    left: 0;
    transform: rotate(135deg);
    border-radius: 1px;
  }

  .header__mobile-btn-decor {
    display: none;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale2 {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
