.personal-area {
  background-color: @gray;
  padding-bottom: 50px;
}

.personal-area__wrapper {
  display: flex;
  flex-direction: column;
}

.personal-area__nav {
  order: 1;
}

.personal-area__bread-crumbs {
  order: 2;
}

.personal-area__content {
  order: 3;
}
