.result-item {
  border: @border-color;
  border-radius: 4px;
  background-color: @white;
  padding: 20px 15px;
  margin-bottom: 20px;
  position: relative;

  @media screen and (min-width: @extra-large) {
    box-shadow: @shadow;
    padding: 20px 27px;
  }
}

.result-item__favorite {
  position: absolute;
  display: block;
  top: 24px;
  right: 30px;

  &::after {
    content: "";
    width: 15px;
    height: 14px;
    display: block;
    background-image: url("../img/favorite-icon.png");
    background-size: 15px 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (min-width: @medium) {
    top: 5px;
    right: 20px;
  }
}

.result-item__favorite--active {
  &::after {
    content: "";
    width: 15px;
    height: 14px;
    display: block;
    background-image: url("../img/favorite-icon-active.png");
    background-size: 15px 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.result-item__top-wrapper {
  @media screen and (min-width: @medium) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @border-color;
  }

  @media screen and (min-width: @extra-large) {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
}

.result-item__number {
  font-size: 20px;
  font-family: @bellota;
  font-weight: bold;
  line-height: 29px;
  color: @brown;
  margin: 0;

  &::before {
    content: "№ ";
  }

  @media screen and (min-width: @extra-large) {
    margin-right: 20px;
  }
}

.result-item__title {
  display: block;
  font-size: 20px;
  font-family: @bellota;
  font-weight: bold;
  line-height: 29px;
  color: @black;
  margin-bottom: 10px;

  @media screen and (min-width: @extra-large) {
    margin-bottom: 0;
    margin-right: auto;
  }
}

.result-item__title-wrapper {
  @media screen and (min-width: @extra-large) {
    display: flex;
  }
}

.result-item__price-wrapper {
  border-bottom: 1px solid @border-color;
  padding-bottom: 28px;

  @media screen and (min-width: @medium) {
    border: none;
  }

  @media screen and (min-width: @extra-large) {
    border: none;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 330px;
    margin-right: 15px;
  }
}

.result-item__price {}

.result-item__price-txt {
  color: @medium-gray;
  margin-right: 10px;
}

.result-item__price-amount {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  color: @black;
}

.result-item__price-amount--rub {
  &::after {
    content: " \20BD";
  }
}

.result-item__bottom-wrapper {
  @media screen and (min-width: @extra-large) {
    display: flex;
    justify-content: space-between;
  }

  .result-item__inner-wrapper {
    border-bottom: 1px solid @border-color;
    padding-top: 28px;
    padding-bottom: 28px;

    @media screen and (min-width: @extra-large) {
      width: 100%;
      max-width: 364px;
      border-bottom: none;
    }
  }

  .result-item__inner-wrapper:nth-child(2) {
    border-bottom: 0;

    @media screen and (min-width: @extra-large) {
      margin-left: auto;
      width: 100%;
      max-width: 300px;
      padding-left: 20px;
    }
  }
}


.result-item__location-wrapper {
  padding-left: 20px;
  position: relative;
}

.result-item__icons {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 20px;

  &::before {
    content: "";
    width: 10px;
    height: 15px;
    display: block;
    background-image: url("../img/location-point-icon.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 0;
  }

  &::after {
    content: "";
    width: 10px;
    height: 15px;
    display: block;
    background-image: url("../img/location-point-icon.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7px;
    left: 0;
  }
}

.result-item__decor {
  height: 86%;
  width: 2px;
  background-color: @gray;
  left: 4px;
  margin: 0 auto;
}

.result-item__town-wrapper {
  margin-bottom: 10px;
}

.result-item__date {
  font-size: 12px;
  color: @medium-gray;
}

.result-item__town {
  font-size: 20px;
  font-weight: bold;
  font-family: @bellota;
  line-height: 29px;
  margin-right: 10px;
  color: @black;
}

.result-item__region {
  font-size: 20px;
  font-weight: bold;
  font-family: @bellota;
  line-height: 29px;
  color: @medium-gray;
}

.result-item__car-count-wrapper {}

//

.result-item__customer {
  display: flex;
  margin-bottom: 10px;
}

.result-item__customer-icon {
  display: none;

  @media screen and (min-width: @extra-large) {
    display: block;
    margin-top: 10px;
  }
}

.result-item__customer-wrapper {
  margin-left: 10px;
}

.result-item__customer-txt {
  font-size: 12px;
  color: @medium-gray;
}

.result-item__customer-name {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: @bellota;
  line-height: 29px;
  color: @black;
  transition: all ease-in 0.3s;

  &:hover {
    color: @brown;
  }

  &:active {
    opacity: 0.8;
  }
}

.result-item__payment {
  display: flex;
  margin-bottom: 10px;
}

.result-item__payment-icon {
  display: none;

  @media screen and (min-width: @extra-large) {
    display: block;
    margin-top: 10px;
  }
}

.result-item__payment-wrapper {
  margin-left: 10px;
}

.result-item__payment-txt {
  font-size: 12px;
  color: @medium-gray;
}

.result-item__payment-date {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: @bellota;
  line-height: 29px;
  color: @black;
}

.result-item__chat {
  color: @brown;
}

.result-item__btn {
  width: 100%;
  max-width: 100%;
  position: relative;

  .result-item__btn-bargain {
    display: none;
  }

  @media screen and (min-width: @extra-large) {
    height: 32px;
    margin-top: 28px;
    max-width: 230px;
    margin-left: auto;
  }
}

.result-item__btn--no-bargain {
  &::after {
    content: "";
    width: 10px;
    height: 11px;
    display: block;
    background-image: url("../img/btn-arrow-down-icon.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 30%;

    @media screen and (min-width: @extra-large) {
      right: 20%;
    }
  }

  .result-item__btn-bargain {
    display: block;
  }

  .result-item__btn-no-bargain {
    display: none;
  }
}

.result-item__step {
  width: 100%;
  text-align: center;

  span {
    font-weight: bold;
    color: @black;
    font-size: 20px;
    font-family: @bellota;

    &::after {
      content: " \20BD";
    }
  }
}
